%nav.navbar.navbar-default{role: :navigation}
  .navbar-header
    %button.navbar-toggle{data: {toggle: :collapse, target: :'#crate-navbar-collapse'}}
      %span.sr-only Toggle Navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    .navbar-brand Crate

  .collapse.navbar-collapse#crate-navbar-collapse
    %ul.nav.navbar-nav
      - unless user_signed_in?
        %li= link_to 'Home', root_path
      %li= link_to 'Explore', albums_path
      - if user_signed_in?
        %li= link_to 'My crate', albums_path
        %li= link_to 'Profile', edit_user_registration_path
    = render 'shared/navbar_loginout'
