= simple_form_for resource, url: user_albums_path(resource), html: {novalidate: true} do |f|
  = f.input :name, label: 'Album name'
  = f.simple_fields_for :artist do |artist_f|
    = artist_f.input :name, label: 'Artist name'

  .tracks
    = f.simple_fields_for :tracks do |tracks_f|
      = tracks_f.input :name, label: 'Track name',input_html: {class: 'name'}
      = tracks_f.input :duration_str, input_html: {class: 'duration'}
  
  %button#add-track
    Add another track
  = f.button :submit
